USE [master]
GO
/****** Object:  Database [POSSystem]    Script Date: 3/30/2026 4:25:25 AM ******/
CREATE DATABASE [POSSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POSSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\POSSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POSSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\POSSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POSSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POSSystem]
GO
/****** Object:  Table [dbo].[Tbl_Category]    Script Date: 3/30/2026 4:25:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Is_Active] [tinyint] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Created_Date] [datetime] NOT NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Products]    Script Date: 3/30/2026 4:25:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [int] NOT NULL,
	[StockQty] [int] NOT NULL,
	[Category_id] [int] NOT NULL,
	[Is_Active] [tinyint] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Created_Date] [datetime] NOT NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Sale_Item]    Script Date: 3/30/2026 4:25:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sale_Item](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Sale_id] [bigint] NOT NULL,
	[Product_id] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Product_Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Tbl_SaleItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Sales]    Script Date: 3/30/2026 4:25:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sales](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Invoice_No] [varchar](50) NOT NULL,
	[Sale_Date] [datetime] NOT NULL,
	[Total_Amount] [int] NOT NULL,
	[User_id] [int] NOT NULL,
	[Created_Date] [datetime] NOT NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [datetime] NULL,
	[Cashier_Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Tbl_Sales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Users]    Script Date: 3/30/2026 4:25:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [nvarchar](200) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](100) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[Is_Active] [tinyint] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Created_Date] [datetime] NOT NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Category] ON 

INSERT [dbo].[Tbl_Category] ([Id], [Name], [Is_Active], [Created_By], [Created_Date], [Modified_By], [Modified_Date]) VALUES (1, N'အလှကုန်', 1, 2, CAST(N'2026-03-29T17:24:08.747' AS DateTime), NULL, NULL)
INSERT [dbo].[Tbl_Category] ([Id], [Name], [Is_Active], [Created_By], [Created_Date], [Modified_By], [Modified_Date]) VALUES (2, N'ကလေးပစ္စည်း', 1, 2, CAST(N'2026-03-29T17:24:26.813' AS DateTime), NULL, NULL)
INSERT [dbo].[Tbl_Category] ([Id], [Name], [Is_Active], [Created_By], [Created_Date], [Modified_By], [Modified_Date]) VALUES (3, N'အဆာပြေမုန့်', 1, 2, CAST(N'2026-03-29T17:25:28.733' AS DateTime), 2, CAST(N'2026-03-29T17:47:40.317' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tbl_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Products] ON 

INSERT [dbo].[Tbl_Products] ([Id], [Name], [Price], [StockQty], [Category_id], [Is_Active], [Created_By], [Created_Date], [Modified_By], [Modified_Date]) VALUES (1, N'Yoko - နို့ချဥ်', 5000, 8, 5, 1, 2, CAST(N'2026-03-29T17:30:22.200' AS DateTime), 2, CAST(N'2026-03-29T17:44:17.047' AS DateTime))
INSERT [dbo].[Tbl_Products] ([Id], [Name], [Price], [StockQty], [Category_id], [Is_Active], [Created_By], [Created_Date], [Modified_By], [Modified_Date]) VALUES (2, N'Vaseline', 7000, 70, 1, 0, 2, CAST(N'2026-03-29T17:34:08.433' AS DateTime), 2, CAST(N'2026-03-29T17:52:05.293' AS DateTime))
INSERT [dbo].[Tbl_Products] ([Id], [Name], [Price], [StockQty], [Category_id], [Is_Active], [Created_By], [Created_Date], [Modified_By], [Modified_Date]) VALUES (3, N'ရွှေခွက် Oishi', 3000, 18, 3, 1, 2, CAST(N'2026-03-29T17:51:59.253' AS DateTime), 2, CAST(N'2026-03-29T17:52:19.750' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tbl_Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Sale_Item] ON 

INSERT [dbo].[Tbl_Sale_Item] ([Id], [Sale_id], [Product_id], [Qty], [Price], [Product_Name]) VALUES (1, 1, 1, 2, 5000, N'Yoko - နို့ချဥ်')
INSERT [dbo].[Tbl_Sale_Item] ([Id], [Sale_id], [Product_id], [Qty], [Price], [Product_Name]) VALUES (2, 1, 3, 1, 3000, N'ရွှေခွက် Oishi')
INSERT [dbo].[Tbl_Sale_Item] ([Id], [Sale_id], [Product_id], [Qty], [Price], [Product_Name]) VALUES (3, 2, 1, 1, 5000, N'Yoko - နို့ချဥ်')
SET IDENTITY_INSERT [dbo].[Tbl_Sale_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Sales] ON 

INSERT [dbo].[Tbl_Sales] ([Id], [Invoice_No], [Sale_Date], [Total_Amount], [User_id], [Created_Date], [Modified_By], [Modified_Date], [Cashier_Name]) VALUES (1, N'INV-20260329183337-5485', CAST(N'2026-03-29T18:33:37.400' AS DateTime), 13000, 2, CAST(N'2026-03-29T18:33:37.400' AS DateTime), NULL, NULL, N'ThetThet')
INSERT [dbo].[Tbl_Sales] ([Id], [Invoice_No], [Sale_Date], [Total_Amount], [User_id], [Created_Date], [Modified_By], [Modified_Date], [Cashier_Name]) VALUES (2, N'INV-20260329213303381-770996', CAST(N'2026-03-29T21:33:03.380' AS DateTime), 46500, 2, CAST(N'2026-03-29T21:33:03.380' AS DateTime), NULL, NULL, N'ThetThet')
INSERT [dbo].[Tbl_Sales] ([Id], [Invoice_No], [Sale_Date], [Total_Amount], [User_id], [Created_Date], [Modified_By], [Modified_Date], [Cashier_Name]) VALUES (3, N'INV-20260329213452102-236448', CAST(N'2026-03-29T21:34:52.103' AS DateTime), 9500, 7, CAST(N'2026-03-29T21:34:52.103' AS DateTime), NULL, NULL, N'Nay Chi')
SET IDENTITY_INSERT [dbo].[Tbl_Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Users] ON 

INSERT [dbo].[Tbl_Users] ([Id], [Full_Name], [Email], [PasswordHash], [Role], [Is_Active], [Created_By], [Created_Date], [Modified_By], [Modified_Date]) VALUES (2, N'Admin1', N'admin1@gmail.com', N'AQAAAAIAAYagAAAAEKlhWhFQC75hxKoHLHrQgeXj6l8W0Z4CnBB+Qx3lioYlq6/EpFLVx8q9b8OeJ9RUkw==', N'Admin', 1, 1, CAST(N'2026-03-29T15:23:06.113' AS DateTime), 2, CAST(N'2026-03-29T21:49:06.727' AS DateTime))
INSERT [dbo].[Tbl_Users] ([Id], [Full_Name], [Email], [PasswordHash], [Role], [Is_Active], [Created_By], [Created_Date], [Modified_By], [Modified_Date]) VALUES (4, N'Admin2', N'admin2@gmail.com', N'AQAAAAIAAYagAAAAEEXijPwJeol/iL/axbIYZXKIgCf+JwqVVP8fOpvpciX+iAZkMh1okCuXFquuQi0vRg==', N'Admin', 1, 2, CAST(N'2026-03-29T15:47:45.447' AS DateTime), 2, CAST(N'2026-03-29T21:49:16.123' AS DateTime))
INSERT [dbo].[Tbl_Users] ([Id], [Full_Name], [Email], [PasswordHash], [Role], [Is_Active], [Created_By], [Created_Date], [Modified_By], [Modified_Date]) VALUES (5, N'Chan Chan', N'chanchan@gmail.com', N'AQAAAAIAAYagAAAAEOjScX4PAU/is60wct267PMEVIYCxFLTZDxfkGWGqdsWE9Jv59sG18L3klmj3pmMfQ==', N'Cashier', 0, 2, CAST(N'2026-03-29T15:48:34.363' AS DateTime), 2, CAST(N'2026-03-29T16:23:19.060' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tbl_Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Tbl_Sales_Invoice_No]    Script Date: 3/30/2026 4:25:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Tbl_Sales_Invoice_No] ON [dbo].[Tbl_Sales]
(
	[Invoice_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
